<!DOCTYPE html>
<html>
<head>
<title>GIRIDHAR - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/static/giri.png" alt="Alan Smith" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Giridhar L</h1>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li> <a href="mailto:giridharprasad2897@gmail.com" target="_blank">giridharprasad2897@gmail.com</a></li>
				<li> 9488903752</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>Passionate student of computer science with an inquizitive mind looking forward for new opportunities and experinces to learn from </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>B.Tech - Computer Science and Engineering</h2>
					<p class="subDetails">2015 - 2019</p>
					<p>SASTRA Deemed University, Thanjavur.</p>
				</article>

				<article>
					<h2>XII ( Senior Secondary ) - Computer Science</h2>
					<p class="subDetails">March 2015</p>
					<p>Sri Vijay Vidayala, Krishnagiri.</p>
				</article>
				<article>
					<h2>X ( Secondary )</h2>
					<p class="subDetails">March 2013</p>
					<p>Sri Vijay Vidayala, Krishnagiri.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>



		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Android</li>
					<li>Arduino</li>
					<li>python</li>
					<li>Java</li>
					<li>Linux</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Study Room Automation</h2>
					<p>Small scale Home Automation - Ganined experience in using microcontrollers and got introduced to that power the Internet of Things (IoT) .</p>
				</article>

				<article>
					<h2>Trading System Automation</h2>
					<p>Algo Trading - Implemented quantative trading strategies with Python. Gained experience in using cloud services (AWS) and RESTful APIs</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Training</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Android Application Development</h2>
					<p>Android basics Nanodegree from Udacity</p>
					<p>Firebase Basics</p>
				</article>

				<article>
					<h2>Roborics Workshop</h2>
					<p>Worked on mobile controlled bots with Arduino, at Robotics Club @ SASTRA </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Hobbies</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Music</li>
					<li>Electronics DIY</li>
					<li>Cooking</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>

</body>
</html>
